################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bpython_automation/FileContentIndex/8c400fa0-940b-437a-a6ee-e7d9f82e8dae.vsidx
/.vs/bpython_automation/FileContentIndex/b49a0518-48f9-451a-804a-f7b9f7d6a505.vsidx
/.vs/
/.vs/bpython_automation/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
